# Ignore Python cache and compiled files
**/__pycache__/
*.py[cod]

# Ignore virtual environments
venv/
env/
.testenv/
.conda/

# Ignore build artifacts
build/
dist/
*.egg-info/
.eggs/
docs/_build/

# Ignore coverage reports
.coverage
htmlcov/
.pytest_cache/

# Ignore IDE/editor-specific settings
.vscode/
.idea/

# Docs build output
docs/build/
