# Ignore Python cache and compiled files
**/__pycache__/
*.py[cod]

# Ignore virtual environments
venv/
env/
.testenv/
.conda/

# Ignore build artifacts
build/
dist/
*.egg-info/

# Ignore coverage reports
.coverage
htmlcov/

# Ignore IDE/editor-specific settings
.vscode/
.idea/